In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("top-5000-youtube-channels.csv")

In [3]:
df

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

In [ ]:
1. Display All Rows Except the Last 5 rows Using Head Method
2. Display All Rows Except the First 5 Rows Using Tail Method
3. Find Shape of Our Dataset (Number of Rows And Number of Columns)
4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
5. Get Overall Statistics About The Dataframe
6. Data Cleaning  (Replace '--'  to NaN)
7. Check Null Values In The Dataset
8. Data Cleaning [ Rank Column ]
9. Data Cleaning [ Video Uploads & Subscribers ]
10. Data Cleaning [ Grade Column ]
11. Find Average Views For Each Channel
12. Find Out Top Five Channels With Maximum Number of Video Uploads
13. Find Correlation Matrix
14.  Which Grade Has A Maximum Number of Video Uploads?
15.Which Grade Has The Highest Average Views?
16.  Which Grade Has The Highest Number of Subscribers? 
17. Which Grade Has The Highest Video Views?

In [5]:
# 1. Display All Rows Except the Last 5 rows Using Head Method
df.head(-5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704
4991,"4,992nd",B+,Toys to Learn Colors,11,663114,141933264
4992,"4,993rd",B+,КАZКА,25,131766,74304638
4993,"4,994th",B+,United CUBE (CUBE Entertainment…,1055,1586835,371299166
4994,"4,995th",B+,Wings Marathi,1735,1099659,346175699

In [6]:
# 2. Display All Rows Except the First 5 Rows Using Tail Method
df.tail(-5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd müzik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307
...,...,...,...,...,...,...
4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

In [7]:
# 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)
df.shape

(5000, 6)

In [8]:
# 4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns
# Datatypes of Each Column And Memory Required
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [9]:
#5. Get Overall Statistics About The Dataframe
df.describe()

        Video views
count  5.000000e+03
mean   1.071449e+09
std    2.003844e+09
min    7.500000e+01
25%    1.862329e+08
50%    4.820548e+08
75%    1.124368e+09
max    4.754884e+10

In [10]:
# 6. Data Cleaning  (Replace '--'  to NaN)
df["Subscribers"]=df["Subscribers"].replace("--",np.NaN)

In [11]:
# 7. Check Null Values In The Dataset
df.isnull().sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64

In [12]:
# 8. Data Cleaning [ Rank Column ]
import re

In [13]:
df["Rank"]=df["Rank"].str.replace(",","")

In [14]:
df["Rank"]=df["Rank"].str.extract("(\d+)")

In [15]:
df

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,A++,Zee TV,82757,18752951,20869786591
1,2,A++,T-Series,12661,61196302,47548839843
2,3,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,A++,SET India,27323,31180559,22675948293
4,5,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4995,4996,B+,Uras Benlioğlu,706,2072942,441202795
4996,4997,B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,4998,B+,Mastersaint,110,3265735,311758426
4998,4999,B+,Bruce McIntosh,3475,32990,14563764
4999,5000,B+,SehatAQUA,254,21172,73312511

In [16]:
# 9. Data Cleaning [ Video Uploads & Subscribers ]

In [17]:
df["Video Uploads"]=df["Video Uploads"].replace("--",np.NaN)

In [18]:
df.isnull().sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    6
Subscribers      0
Video views      0
dtype: int64

In [19]:
df.dropna(inplace=True)

In [20]:
df.isnull().sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64

In [21]:
df["Subscribers"]=df["Subscribers"].replace("-- ",np.NaN)

In [22]:
df.isnull().sum()

Rank               0
Grade              0
Channel name       0
Video Uploads      0
Subscribers      384
Video views        0
dtype: int64

In [23]:
df.dropna(inplace=True)

In [24]:
# 10. Data Cleaning [ Grade Column ]

In [25]:
df["Grade"]=df["Grade"].replace("\xa0 ",np.NaN)

In [26]:
df["Grade"].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ '], dtype=object)

In [27]:
df.dropna(inplace=True)

In [28]:
# 11. Find Average Views For Each Channel
a=df.groupby("Channel name")
a["Video views"].mean()

Channel name
#Desenhos Kids BR               8.404115e+07
#FIRST WINGS FILM PRODUCTION    1.267895e+07
#Mentale Zuflucht               3.634114e+08
#Mind Warehouse                 1.337877e+09
#Refugio Mental                 1.262197e+09
                                    ...
핑크퐁 (인기 동요・동화)                  1.595353e+09
허팝Heopop                        1.690027e+09
헤이지니 Hey Jini                   4.550237e+08
헬로카봇 - hello carbot…            3.291915e+08
흔한남매                            1.196532e+08
Name: Video views, Length: 4604, dtype: float64

In [29]:
# 12. Find Out Top Five Channels With Maximum Number of Video Uploads

In [30]:
df["Video Uploads"]=df["Video Uploads"].astype(int)

In [31]:
a=df.sort_values(by="Video Uploads",ascending=False)

In [32]:
a[['Channel name',"Video Uploads"]][:5]

     Channel name  Video Uploads
3453   AP Archive         422326
1149     YTN NEWS         355996
2223    SBS Drama         335521
323      GMA News         269065
2956          MLB         267649

In [33]:
# 13 Find Correlation Matrix

In [34]:
df.corr()

               Video Uploads  Video views
Video Uploads        1.00000      0.08783
Video views          0.08783      1.00000

In [35]:
# 14. Which Grade Has A Maximum Number of Video Uploads?

In [36]:
a=df.groupby("Grade")["Video Uploads"]

In [37]:
a.max().sort_values(ascending=False).head(1)

Grade
B+     422326
Name: Video Uploads, dtype: int32

In [38]:
# 15.Which Grade Has The Highest Average Views?

In [39]:
a=df.groupby("Grade")["Video views"]

In [40]:
a.mean().sort_values(ascending=False).head(1)

Grade
A++     2.119909e+10
Name: Video views, dtype: float64

In [ ]:
# 16.  Which Grade Has The Highest Number of Subscribers?

In [ ]:
a=df.groupby("Grade")["Subscribers"]

In [44]:
a.max().sort_values(ascending=False).head(1)

Grade
A++     47548839843
Name: Video views, dtype: int64

In [ ]:
# 17. Which Grade Has The Highest Video Views?

In [53]:
a=df.groupby("Grade")["Video views"]
a.max().sort_values(ascending=False).head(1)

Grade
A++     47548839843
Name: Video views, dtype: int64